<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto">
	<uses-sdk android:targetSdkVersion="24" android:minSdkVersion="18" />
	<application android:label="TeacherHiring.Android">
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyCY7z15lrvO-oTcGsCRIGg2B3dkEIs-vaU" />
	</application>
</manifest>